doctype html
html(lang='en')
    include ../includes/head
    body
        include ../includes/header
        main.main
            .content-container
                .container-fluid
                    #movies.row


        include ../includes/footer
