doctype html
html(lang='en')
    include ../includes/head
    body
        include ../includes/header
        main.main
            .content-container
                .container-fluid
                    .row
                        .col-lg-8
                            select#filter.custom-select

                            #movies.row

                        .col-lg-4
                            .block-fav__list
                                ul.list#fav__list



        include ../includes/footer
